.navbar {
    margin-bottom: 0;
}

.jumbotron {
    padding: 25px 0;
    margin-bottom: 0;
    background-color: #fff;
}

.results {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
}

.btn {
    cursor: pointer;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.CodeMirror {
    outline: 1px solid #ccc;
    height: 500px !important;
}

.navbar-toggler {
    cursor: pointer;
}
